
#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.pattern {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.stars {
  object-fit: cover;
  z-index: -20;
  top: 0;
  position: absolute;
  animation: slide 10s ease-in-out  infinite;
  width: 100%;
  height: 100%;
}

.container {
  z-index: 100;
  display: flex;
  flex-direction: row;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time:not(:last-of-type) {
  margin-right: 20px;
}

.time .number {
  box-shadow: 0px 10px 0px hsl(234deg 17% 12%);
  border-radius: 10px;
  color: hsl(345, 95%, 68%);
  font-size: 4em;
  background-color: hsl(236, 21%, 26%);
  min-width: 145px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time .legend {
  margin-top: 3em;
  color: hsl(237, 18%, 59%);
  font-size: 12px;
  letter-spacing: .3rem;
  text-transform: uppercase;
}


@keyframes slide {
  0% {
    transform: translate(42px, 18px);
    }
  50% {
    transform: translate(19px, 40px);
   }
  100% {
    transform: translate(42px, 18px);
    }
}


@media (max-width: 768px) {

  /* .time {
    width: 100%;
  } */

  #root {
    max-width: 90%;
  }

  .time .number {
    font-size: 1.2em;
    background-color: hsl(236, 21%, 26%);
    width: 50px;
    min-width: initial;
    height: 50px;
  }
  
  .time .legend {
    margin-top: 3em;
    font-size: 6px;
    letter-spacing: .3rem;
  }
}
